[Unit]
Description=LED display runner
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile={REPLACE_ME}
ExecStartPre=chown -R ${PRIMARY_USER}:${PRIMARY_USER} $DISPLAY_HOME
ExecStartPre=su ${PRIMARY_USER} /bin/bash -c "cd $DISPLAY_HOME && ./update.sh"
ExecStart=/bin/bash -c "cd $DISPLAY_HOME && /usr/bin/python3 -u run.py"
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
