[Unit]
Description=LED display runner
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile={REPLACE_ME}
ExecStartPre=/bin/bash $DISPLAY_HOME/update.sh
ExecStart=/bin/bash -c "cd $DISPLAY_HOME && /usr/bin/python3 -u run.py"

[Install]
WantedBy=multi-user.target
